<%= render "layouts/banner" %>

<div class="form-horizontal">
  <div class="container">
    <h4 class="text-center">Edit Comment</h4>
	<%= form_for @comment do |f| %>
  	  <div class="form-group">
  	  	<label for="inputTitle" class="col-xs-6 col-sm-6 col-dm-6 col-lg-6 control-label">Title:</label>
    	<%= f.text_field :title, placeholder: "Title", required: true %>
  	  </div>
  	  <div class="form-group">
  	  	<label for="inputComment" class="col-xs-6 col-sm-6 col-dm-6 col-lg-6 control-label">Comment:</label>
    	<%= f.text_area :text, placeholder: "Add a review here", required: true %>
      </div>
  	  <%= hidden_field_tag('city_id', @city_id)%>
  	  <div class="text-center">
    		<%= f.submit "Submit", :class => "btn btn-default" %> 
    	  <%= link_to "Back", city_path(@comment.city), class: "btn btn-default" %>
      </div>
  <% end %>
  </div>
</div>