<%= render "layouts/banner" %>
<div class="row teal">
  <div class="col-xs-4 col-sm-4 col-offset-md-1 col-md-4 col-lg-4 text-center">
    <%= image_tag @comment.user.image, alt: "Profile Pic", size: "200x200", class: "border"%>
    <p><%= @comment.user.name%></p>
    <p>Date Joined: <%= time_tag @comment.user.created_at%></p>
    <p>Current City: <%= @comment.user.current_city%></p>
  </div>

  <div class="col-xs-6 col-sm-6 col-offset-md-1 col-md-6 col-lg-6">
    <h4><%= @comment.user.name%> about <%= @comment.city.name%>:</h4>
    <%= time_tag @comment.user.created_at%>
    <div>
      <h3 class="teal"><%= @comment.title %></h3>
      <p><%= @comment.text %></p>
    </div>
    <h5><%= link_to "Give Feedback", new_feedback_path(@comment), :class => "btn btn-default"%></h5>
    <% if !@comment.feedbacks.empty?%>  
      <h2><small>Feedback:</small></h2> 
      <div>
        <% @comment.feedbacks.each do |feedback|%>
          <div>
            <p><%= feedback.user.name%> -</p>
            <p><%= feedback.text%></p>
            <% if current_user == feedback.user%>
              <%= link_to "Edit", edit_feedback_path(feedback), :class => "btn btn-default"%>
              <%= link_to "Delete", delete_feedback_path(feedback), method: "delete", :class => "btn btn-default"%>
            <% end %>
          </div>
          <hr>
        <% end %>
      </div>
    <% end %>
    <%= link_to "#{@comment.city.name} Page", city_path(@comment.city), :class => "btn btn-default"%>
  </div>
</div>