<%= render "layouts/banner" %>
<div class="row">
  <div class="col-md-4 col-md-4 col-md-4 col-md-4">
    <%if @comment.user.image%>
      <%= image_tag @user.image, alt: "Profile Pic", size: "150x200"%>
    <%else%>
      <%= image_tag "https://avatars3.githubusercontent.com/u/1489337?v=3&s=460", alt: "Profile Pic", size: "200x200"%>
    <%end%>  
    <p><%= @comment.user.name%></p>
    <p>Date Joined: <%= @comment.user.created_at.strftime('%c')%></p>
    <p>Current City: <%= @comment.user.current_city%></p>
  </div>

  <div class="col-md-8 col-md-8 col-md-8 col-md-8">
    <div>
      <h3><%= @comment.title %></h3>
      <p><%= @comment.text %></p>
    </div> 
  </div>

</div>