<%= render "layouts/banner" %>
<div class="row">
  <div class="col-md-4 col-md-4 col-md-4 col-md-4">
    <%= image_tag @comment.user.image, alt: "Profile Pic", size: "200x200"%>
    <p><%= @comment.user.name%></p>
    <p>Date Joined: <%= @comment.user.created_at.strftime('%c')%></p>
    <p>Current City: <%= @comment.user.current_city%></p>
  </div>

  <div class="col-md-8 col-md-8 col-md-8 col-md-8">
    <div>
      <h3><%= @comment.title %></h3>
      <p><%= @comment.text %></p>
    </div> 
  </div>
  <%= link_to "#{@comment.city.name} Page", city_path(@comment.city)%>
</div>