<%= render "layouts/banner" %>
<%= image_tag @user.image, size: "200x200"%>
<%= form_for @user do |f| %>
  <div>
    <label>Image:</label><br><%= f.text_field :image, placeholder: "#{@user.image}" %>
  </div>
  <div>
    <label>Name:</label><br><%= f.text_field :name, placeholder: "#{@user.name}" %>
  </div>
  <div>
    <label>Current City:</label><br><%= f.text_field :current_city, placeholder: "#{@user.current_city}" %>
  </div>
  <div>
    <label>Email:</label><br><%= f.text_field :email, placeholder: "#{@user.email}" %>
  </div>
  <div>
    <label>Password:</label><br><%= f.password_field :password, placeholder: "#{@user.password}" %>
  </div>
  <%= f.submit "Save"  %>
<% end %>