<%= render "layouts/banner" %>
<div class="row">
  <div class="col-md-4 col-md-4 col-md-4 col-md-4">
    <%= image_tag @user.image, alt: "Profile Pic", size: "200x200"%> 
    <p><%= @user.name%></p>
    <p>Date Joined: <%= @user.created_at.strftime('%c')%></p>
    <p>Current City: <%= @user.current_city%></p>
  </div>
  <div class="col-md-8 col-md-8 col-md-8 col-md-8">
    <% @user.comments.each do |comment| %>
      <div>
        <h3><%= link_to "#{comment.title}", comment_path(comment) %></h3>
        <p><%= comment.text%></p>
      </div> 
    <% end %>
  </div>
</div>
<%= link_to "Edit Profile", edit_user_path(@user)%>
