<%= render "layouts/banner" %>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-offset-md-1 col-md-4 col-lg-4 text-center">
    <%= image_tag @user.image, alt: "Profile Pic", size: "200x200", :class=>"border"%> 
    <p><%= @user.name%></p>
    <p>Date Joined: <%= @user.created_at.strftime('%c')%></p>
    <p>Current City: <%= @user.current_city%></p>
    <%= link_to "Edit Profile", edit_user_path(@user), :class => "btn btn-default"%>
  </div>
  <div class="col-xs-6 col-sm-6 col-offset-md-1 col-md-6 col-lg-6">
    <% @user.comments.each do |comment| %>
      <div>
        <h3><%= link_to "#{comment.title}", comment_path(comment), :class=>"profile-comment"%></h3>
        <p><%= comment.text%></p>
      </div> 
    <% end %>
  </div>
</div>
