<%= image_tag @city.image, class: "img-responsive show-city"%>

<h2 id="cidade"><%= @city.name %></h2>
<br>
<% @city.comments.each do |comment| %>
  <div class="thumbnail row">
  	<figure class="figure col-md-2">
  		<%= image_tag comment.user.image, class: "profile rounded figure-img img-fluid"%>
  		<figcaption class="caption comment figure-caption"><%= comment.user.name %></figcaption>
  	</figure>
  	<div class="col-md-9 col-md-offset-1">
	    <h3><%= link_to comment.title, comment_path(comment), class: "comment text-center"%></h3>
	    <hr>
	    <p class="comment"><%= comment.text%></p>
  	</div>
  </div> 
<% end %>