<%= image_tag @city.image, class: "img-responsive show-city"%>

<h2 id="cidade"><%= @city.name %></h2>
<br>
<h2 class="text-center"><i><%= link_to "Add A New Comment", new_comment_path(@city)%></i></h2>
<% @comments.each do |comment| %>
  <div class="thumbnail row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg -10 col-lg-offset-1">
    <figure class="figure col-md-2">
      <%= image_tag comment.user.image, class: "profile rounded figure-img img-fluid"%>
      <figcaption class="caption comment figure-caption"><%= comment.user.name %></figcaption>
    </figure>
    <div class="col-md-9 col-md-offset-1">
      <h3><%= link_to comment.title, comment_path(comment), class: "comment text-center"%></h3>
      <hr>
      <p class="comment"><%= comment.text%></p>
      <p><i><%= "Updated #{time_ago_in_words(comment.updated_at)} ago"%></i></p>
      <% if current_user && current_user == comment.user%>
        <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-default"%>
        <%= link_to "Delete", comment_path(comment), method: 'delete', class: "btn btn-default", data: {:confirm => 'Are you sure you want to delete '+ comment.title + "?"} %>
      <%end%>
    </div>
  </div> 
<% end %>